<h1>Add Event</h1>

<form method="post" action="">
    <label>Name of Event</label>
    <input name="name" type="text" /></br>

    <label>Event Description</label>
    <input name="descrip" type="text" /></br></br>

    <input type="submit" value="Add Event" />

</form>
