<h1>Coding Events</h1>

@*<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>*@

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

@*<ul>
    @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
    {
        <li>Event: @meeting.Key  --  Description: @meeting.Value</li>
    }
</ul>*@

<table style="width:100%">
    <tr>
        @foreach (var meeting in ViewBag.events)
        {
<th>@meeting.Key</th>}
    </tr>

    <tr>
        @foreach (var meeting in ViewBag.events)
        {
<td>@meeting.Value</td>}
    </tr>
</table>
